# .env
# venv
# db.sqlite3


# 追加
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtualenv
venv/
env/

# Django stuff
/media/
staticfiles/

# Environment variables
.env

# VSCode
.vscode/
.env
